{
  "extends": "airbnb",
  "plugins": [
    "jest",
    "react-hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/jsx-one-expression-per-line": "literal",
    "react-hooks/rules-of-hooks": "error",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
